*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
  gap: 5%
}

.h1 {
  font-size: 3.5rem;
 

}

.container {
  border: 1px solid black;
  max-width:700px;
  width: 30vw;
  min-height: 400px;  
  min-width: 500px;
  display:flex;
}

.button {
  font-size: 2rem;
  padding: .5em;
}

.column{
  flex: 1;
}

.row {

}