*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
  gap: 5%
}

.h1 {
  font-size: 3.5rem;
 

}

.board {
  border: 2px solid black;
  height: 500px;
  width: 500px;
  display:grid;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 2rem;
  width: 150px;

}
input {
  display: block;
  height: 30px;
  width: 200px;
  font-size: 2rem;
  text-align: center;
}

.column{
  flex: 1;
  border: 1px solid black
}

.row {
  border: 1px solid black;
}

.button-container {
  display: flex;
  gap: 7%
}


.square {
  border: 1px solid black
}

.black {
  color: white;
  background-color: black;
}

.random {
  background: linear-gradient(60deg, red, green, blue, orange) ;
}